{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_task') }}" method="post" class="add-task">
    <dl>
      <dt>Task:
      <dd><input type="text" size="30" name="title">
      <dt>Description:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Pin">
    </dl>
  </form>
  <ul class="tasks">
  {% for task in tasks %}
    <li><h2>{{ task.title }}</h2>{{ task.text|safe }}</li>
  {% else %}
    <li><em>Unbelievable.  No tasks here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
